@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <h3>Welcome on InterCars Website - Car parts seller and distibutor</h3>
</div>

<br/>
<br/>
<br/>
<br/>

<div>Hej</div>
